<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/package+html; charset=UTF-8">
  <title>Alpha Simprini</title>
  <meta name="author" content="Collin Miller">
  <meta name="version" content="<%= AS_VERSION %>">
  <meta name="description" content="
    Alpha Simprini is a browser application framework. 
    It is a terrible awful mish-mash of ideas from Backbone and SproutCore/Ember.js
  ">

  <link rel="self" type="text/spade+javascript" 
    href="http://cloud.github.com/downloads/collin/alpha_simprini/alpha_simprini-<%= AS_VERSION %>-spade.js">

  <!-- RUNTIME DEPENDENCIES -->

  <link rel="dependency" type="text/spade+javascript"
    href="http://spader.herokuapp.com/spades/jwerty-0.3.0.js">

  <link rel="dependency" type="text/package+html" 
    href="http://cloud.github.com/downloads/collin/pathology/pathology-0.3.0.html">

  <link rel="dependency" type="text/package+html" 
    href="http://cloud.github.com/downloads/collin/knead/knead-0.3.1.html">

  <link rel="dependency" type="text/package+html" 
    href="http://cloud.github.com/downloads/collin/taxi/taxi-0.3.1.html">

  <link rel="dependency" type="text/spade+javascript"
    href="http://spader.herokuapp.com/spades/fleck-0.5.1.js">

  <link rel="dependency" type="text/spade+javascript"
    href="http://spader.herokuapp.com/spades/sharejs-0.5.0-pre.js">

  <link rel="dependency" type="text/spade+javascript"
    href="http://spader.herokuapp.com/spades/sharejs.json-0.5.0-pre.js">

  <link rel="dependency" type="text/spade+javascript"
    href="http://spader.herokuapp.com/spades/bcsocket-0.4.0.js">

  <link rel="dependency" type="text/spade+javascript"
    href="http://spader.herokuapp.com/spades/rangy-core-1.2.3.js">

  <!-- DEVELOPMENT DEPENDENCIES -->

  <link rel="development-dependency" type="text/spade+javascript"
    href="http://spader.herokuapp.com/spades/sinon-1.3.4.js">

  <link rel="development-dependency" type="text/spade+javascript"
    href="http://spader.herokuapp.com/spades/sinon-qunit-1.0.0.js">
<!--   <link rel="dependency" type="text/package+html" 
    href="http://cloud.github.com/downloads/collin/knead/knead-0.3.0.html">
 -->
</head>
<body>

  <h1> Alpha Simprini</h1>

  <p>
    Alpha Simprini is a browser application framework. 
    It is a terrible awful mish-mash of ideas from Backbone and SproutCore/Ember.js
  </p>

  <section id="authors">
    <h1>Authors</h1>
    <a href="mailto:collintmiller@gmail.com">Collin Miller</a>
  </section>

</body>
</html>